@import "compass/css3";

div, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  -webkit-font-smoothing: antialiased;
}
$width:1920px;
$height:$width /16 * 9;
$color:#E85657;
$background:#67C2D4;
$colorMin:#FEF0E3;
$colorCancel:#EBD3BD;
.imgoTV {
  width:$width;
  height:$height;
  position: relative;
  margin: 0 auto;
  background: #72D0F4;
  @include background(linear-gradient(top, #72D0F4,#7db9e8));
  overflow: hidden;
  zoom:0.667;
  .imgo-container {
    width: 100% !important;
    height: 100%;
    .imgo-row {
      height: 100%;
      display: -webkit-box;
      -webkit-box-orient: horizontal;
//      -webkit-box-pack: center;
      -webkit-box-align: center;
      .nav {
        a {
          position: relative;
          padding: {
            left:35px;
            right:25px;
            top:25px;
            bottom:25px;
          }
          font-size:30px;
          background: rgb(22, 145, 190);
          -webkit-transition: all .2s ease-in-out;
          @include box-shadow(rgba(black,0.3) 20px 20px 20px);
          opacity: 0.7;
          color:white;
          border-radius:16px;
          .icomoon {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            padding: 0.4em;
            border-radius: 16px;
          }
          .nav-op {
            display: inline-block;
            vertical-align: top;
            @include transition(all .5s);
          }
          &:hover {
            -webkit-transform:scale(1.08);
          }
          &.on {
            -webkit-transform:scale(1.08);
          }
        }
        .active {
          a {
            opacity: 1;
            background:#166BA2;
            .nav-op {
              @include transform(translate3d(100px, 0, 0));
              -webkit-transform-origin:100% 100%;
              opacity: 1;
            }
          }
        }
      }
      .tab-content {
        font-size:40px;
        color:white;
        .tab-pane {
          padding:50px;
          @include background-image(linear_gradient(right top,#72D0F4,#7db9e8));
          @include border-radius(16px);
          @include box-shadow(rgba(black,0.1) 30px 30px 30px);
          @include transition(opacity .2s);
        }
        input {
          width: 100%;
          height: auto;
          padding: 20px;
          font-weight: 300;
          font-size: 30px;
          border:6px solid #EAEBEB;
          background: transparent;
          color: #EAEBEB;
          box-shadow: none;
          border-radius: 12px;
          &.on {
            background:rgba(0,0,0,0.2);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-animation: breathe .5s linear infinite alternate;
            animation: breathe .5s linear infinite alternate;
          }
          &:focus {
            border-color: $color;
            color:$color;
            box-shadow: none;
          }
        }
      }
    }
  }
}
.on {
  background:rgba(0,0,0,0.5);
}
.imgo-btn {
  width: 100%;
  display: inline-block;
  padding: {
    top:18px;
    bottom: 18px;
  };
  text-align: center;
  font-weight: bold;
  border: 0;
  border-radius: 16px;
  background: #EAEBEB;
  color: #e85657;
  cursor: pointer;
  opacity: 1;
  outline: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
  &.on {
    background: #e85657;
    color:#EAEBEB;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: breathe 1s linear infinite alternate;
    animation: breathe 1s linear infinite alternate;
  }
}
.btn-warp {
  opacity: 0;
  margin: {
    bottom:30px;
  }
}
.animate-helix {
  opacity: 0;
  -webkit-animation:helix .8s ease-in-out forwards;
//  -webkit-animation-delay:2.6s;
  &:nth-child(1) {
    -webkit-animation-delay:.2s;
  }
  &:nth-child(2) {
    -webkit-animation-delay:.4s;
  }
  &:nth-child(3) {
    -webkit-animation-delay:.8s;
  }
  &:nth-child(4) {
    -webkit-animation-delay:1s;
  }
}
@-webkit-keyframes breathe{
  0%{
    box-shadow: 0 0 0 0 rgba(255,255,255,0.3);
  }
  100%{
    box-shadow: 0 0 0 40px transparent;
  }
}

@-webkit-keyframes helix {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg) translate3d(-600px, -600px, -600px);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-50deg) translate3d(0, 0, 0);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(50deg) ;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}